<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <div class="logo" (click)="goToHome()">INO <span>Wallet</span></div>

    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <!-- <div class="logo" > <span>my balance: </span><span>{{userData.Balance}} </span></div> -->
  </div>
  <!-- <ngx-theme-switcher></ngx-theme-switcher> -->
</div>
<div class="header-container">
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
  <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">


    <nb-action *nbIsGranted="['view', 'user']">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h4><img src="{{image_url}}" style="width: 25px;height: 25px;border-radius: 50%;"> {{username}}</h4>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <div class="details">
            <img src="{{image_url}}">
            <h4>{{username}}</h4>
          </div>
          

          <div class="stats">
            <div class="row">
              <div class="col-md-4">
                <div class="stat text-center">
                  <h5>Balance</h5>
                  <span>{{balanceDetails.TotalBalance}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="stat text-center">
                  <h5>Sent</h5>
                  <span>{{balanceDetails.TotalSent}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="stat text-center">
                  <h5>Receives</h5>
                  <span>{{balanceDetails.TotalReceived}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons" style="background: #fff;">
          <div class="d-flex">
              <div class="button">
              <button (click) ="goToProfile()">Profile</button>
            </div>
                <div class="button" style="text-align: center;margin-left: 45px;">
                <button (click) ="goToDeactivate()">Deactivate Account</button>
                </div>
              <div class="button float-right">
                <button class="logout" (click) = "logout()">Logout</button>
              </div>
            </div>
            
            <div class="clearfix"></div>
          </div>
          </div>
      </div>
    </nb-action>
    <!-- <div > <span>{{userData.Balance}}</span></div> -->



  </nb-actions>
</div>