<div class="top">
  <div class="d-flex">
    <h4>Send</h4>
    
  </div>
</div>
<div class="content" style="padding: 10px 20px;">
  <div class="row">
      <!-- <div *ngIf=""></div> -->
      <nb-card-body>
        <form #sendDetailsForm="ngForm" (ngSubmit)="OnSubmit(sendDetailsForm)">
          <div class="d-flex" style="margin-bottom: 20px;">
            <h5 style="font-weight: bold;">Receiver Public Key</h5>
            <!-- <label for="file-upload" class="custom-file-upload add-image ml-3 mr-3">
              <i class="add-image ml-3 mr-3"> </i> 
              <input id="file-upload" #file type="file" accept="image/*" (change)="preview(file.files)" />
            </label> -->

           
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Sender Public Key</label>
            </div>
            <div class="col-md-10">
              <div class="input-group">
                <!-- <img src="../../../assets/images/login.png"> -->
                <textarea disabled class="form-control" rows="6" style="resize:none;overflow: hidden;height: auto;border-radius: 20px !important;margin-bottom: 20px;" value="{{senderDetails.PublicKey}}"></textarea>
    
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Receiver Public Key</label>
            </div>
            <div class="col-md-10">
              <div class="input-group">
                <!-- <img src="../../../assets/images/login.png"> -->
                <div class="input" style="    width: 100%; position: relative;               ">
                    <textarea rows="6" type="text" class="form-control" style="resize:none;overflow: hidden;height: auto;border-radius: 20px !important;margin-bottom: 20px;" value="{{receiverDetails.PublicKey}}"></textarea>

                  <button type="button" title="search for receiver public key" class="btn btn-primary modal_btn  ml-3 mr-3" style="background: transparent;padding:0;cursor: pointer; right:35px;height: auto;top:10px;position: absolute
                  " data-toggle="modal" data-target="#exampleModal">
                      <img src="../../../assets/images/keyword-search.png" style="width: 23px;margin-top: -8px;">
                    </button>
                </div>
    
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Amount</label>
            </div>
            <div class="col-md-10">
              <div class="input-group">
                <!-- <img src="../../../assets/images/bitcoin.png"> -->
                <input class="form-control" name="Amount" #Amount="ngModel" [(ngModel)]="sendDetails.Amount"
                  placeholder="Enter Amount" type="text" required style="border-radius: 20px !important;margin-bottom: 20px;"/>
              </div>
            </div>
          </div>
         
        
          <!-- <div>
          <nb-alert status="danger" *ngIf="Reciever.touched && Reciever.invalid">
            <div *ngIf="Reciever.errors.required">Receiver Public Key is required</div>
          </nb-alert>
        </div> -->
         
          <!-- <div>
          <nb-alert status="danger" *ngIf="Amount.touched && Amount.invalid">
            <div *ngIf="Amount.errors.required">Amount is required</div>
          </nb-alert>
        </div> -->
          
          <div class="float-right">
            <button class="save_btn">Send</button>
          </div>
        </form>
      </nb-card-body>
    <div *ngIf="imgURL" class="col-md-6">
      <img id="uploaded-img" [src]="imgURL" />
    </div>
  </div>
</div>
<!-- <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
    aria-valuemax="100">
    {{uploadResponse.message}}%
  </div> -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Public Key Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;opacity: 1;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)">
          <div class="input">
            <i class="eva eva-person"></i>
            <input type="text" placeholder="Enter receiver user name" class="form-control" [(ngModel)]="searchDetails.searchText"
              name="searchText" #searchText="ngModel">
          </div>
          <div class="buttons">
            <div class="d-flex">
              <div class="button-group">
                <button type="submit" class="send_btn">Send</button>
                <!-- <button type="button"  class="copy_btn">Copy public key</button> -->
              </div>
              <div class="button2-group">
                <button type="button" data-dismiss="modal" class="cancel_btn">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>