<div class="top">
  <div class="d-flex">
    <h4>Transactions</h4>
    <!-- <div class="breadcrumb_sec">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-tachometer-alt" style="font-size: 16px !important;margin-right: 0px;color: #000;"></i> <a href="#" style="color:#000;">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page" style="margin-top: 3px;">Transactions</li>
        </ol>
      </nav>
    </div> -->
  </div>
</div>
<div class="content">
<div *ngIf="!transactions else another">
No Transactions Yet
</div>
<ng-template #another>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row">{{transaction.TransactionDate}}</th>
        <td>{{transaction.Sender}}</td>
        <td>{{transaction.Receiver}}</td>
        <td>{{transaction.Amount}}</td>
      </tr> -->

      <tr *ngFor="let transaction of transactions| paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row">{{transaction.TransactionDate | date}} <br> {{transaction.TransactionDate | date:'shortTime'}}</th>
        <td>{{transaction.Sender}}</td>
        <td>{{transaction.Receiver}}</td>
        <td>{{transaction.Amount}}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
</ng-template>

</div>
