<div class="top">
    <div class="d-flex">
        <h4>Edit Profile</h4>
        <!-- <div class="breadcrumb_sec">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i class="fas fa-tachometer-alt"
                            style="font-size: 16px !important;margin-right: 0px;color: #000;"></i> <a href="#"
                            style="color:#000;">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="margin-top: 3px;">Edit Profile</li>
                </ol>
            </nav>
        </div> -->
    </div>
</div>
<div class="content">
    <form #editProfileForm="ngForm" (ngSubmit)="onSubmit(editProfileForm)">

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Name</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="userData.name" name="name" #name="ngModel"
                    pattern="^[a-z0-9_]$" minlength="9" maxlength="29"
                        title="Name characters must be greater than 8 and less than 30 characters ">
                </div>

            </div>
            <nb-alert class="custom-alert" class="custom-alert" status="danger"
                *ngIf="name.touched && name.invalid && name.errors.minlength">
                <div>Name characters must be greater than 8</div>
            </nb-alert>
            <nb-alert class="custom-alert" status="danger"
                *ngIf="name.touched && name.invalid && name.errors.maxlength">
                <div>Name characters must be less than 30</div>
            </nb-alert>
        </div>
        <div class="form-group">

            <div class="row">
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-10">
                    <input type="email" class="form-control" email name="emailAdd" required placeholder="Email"
                        #emailAdd="ngModel" [(ngModel)]="userData.emailAdd" title="Email ex : name@domain.com">
                </div>

            </div>
            <nb-alert status="danger" *ngIf="emailAdd.invalid && emailAdd.touched">
                <div class="emailAdd.errors?.email">Email ex : name@domain.com </div>

            </nb-alert>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Phone</label>
                </div>
                <div class="col-md-10">
                    <int-phone-prefix type="phone" placeholder="your phone number" class="form-control" name="phone"
                        #phone="ngModel" [(ngModel)]="userData.phone" pattern="^[0-9-+]+$"
                        style="border:0;padding:0;background:transparent" title="Phone must includes country code">
                    </int-phone-prefix>
                </div>

            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Address</label>
                </div>
                <div class="col-md-10">
                    <input type="text" placeholder="Address" class="form-control" [(ngModel)]="userData.address"
                        name="address" #address="ngModel" ngModel minlength="5" maxlength="100"
                        title="Address characters must be greater than 5 and less than 100 characters "> </div>

            </div>
            <nb-alert class="custom-alert" status="danger" *ngIf="address.invalid && address.touched">
                <div *ngIf="address.errors.minlength">Address characters must be greater than 5 </div>
                <div *ngIf="address.errors.maxlength">Address characters must be less than 100 characters</div>
            </nb-alert>
        </div>

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-11">
                <div class="buttons float-right">
                    <a class="cancel_btn" (click)="cancel()">Cancel</a>
                    <button type="submit" class="save_btn">Save Changes</button>
                </div>
            </div>


        </div>

    </form>
</div>