@import '../@theme/styles/themes';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

.content{
  background: #fff;
  padding: 20px;
  border-radius: 3px;
border-top: 3px solid #01458d;
}


.dropbtn[_ngcontent-c11]{
    background: transparent;
}

.country-name[_ngcontent-c11] {
  margin-left: 6px;
  font-size: 14px;
}

.table-secondary, .table-secondary > th, .table-secondary > td {
  background-color: #01458d;
  color: #fff;
}

.table-secondary tr th{
  color: #fff;

}

.page-item .page-link {
  color: #000;
  padding: 10px;
  pointer-events: none;
  cursor: pointer;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link{
  background-color: #01458d;
color:#fff;
}

.page-item{
  width: 30px;
}

.page-item.first{
  border-top-left-radius : 20px;
  border-bottom-left-radius : 20px;

}

.page-item.last{
  border-top-right-radius : 20px;
  border-bottom-right-radius : 20px;

}

.top{
  position: relative;
}

.breadcrumb_sec{
  position: absolute;
right: 0;
}

.breadcrumb{
  background: transparent;
  padding : 0;
  font-size: 12px !important;

}