<div class="form_section">

  <div class="title_sec">
    <img src="../../../assets/images/logo1.png" style="width: 300px;">
    <p class="sub-title">Hello! Log in with your email and password.</p>
  </div>

  <div class="login-box-body">
    <form #userLoginForm="ngForm" (ngSubmit)="onSubmit(emailAdd.value,password.value)">
      <div class="form-group">
        <div class="input">

          <label>Email , البريد الالكتروني</label> <span class="astric">*</span>

          <input type="email" class="form-control" placeholder="Email , البريد الالكتروني" name="emailAdd"
            #emailAdd="ngModel" [(ngModel)]="userDetails.emailAdd" required email
            >

          <span class="tooltip-danger">


            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="enter user@example.com أدخل عنوان بريدالكتروني &#013; ">
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span> </button>
          </span>

          <!-- <span class="tooltip-danger"><a href="#" data-toggle="tooltip" data-container=".tooltip-danger"
              ngbTooltip="Some tooltip text!">Hover over me</a></span> -->

          <!-- <span class="astric">*</span> -->
        </div>

      </div>

      <div class="form-group">
        <div class="input">
          <label>Password , كلمة السر</label> <span class="astric">*</span>
          <input type="password" class="form-control" placeholder="Password  , كلمة السر"
            [(ngModel)]="userDetails.password" name="password" #password="ngModel" required id="pass_log_id"
            title="Password">
          <span toggle="#password-field" class="eva eva-eye field_icon toggle-password"></span>
          <button type="button" style="border: 0;padding: 0;background: transparent;"
            class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top" ngbTooltip="Password  , كلمة السر">
            <span class="question_mark">
              <i class="fa fa-question w3-animate-fading"></i>

            </span> </button> </div>

      </div>

      <div class="text-center">
        <button class="btn-large btn-submit" type="submit">
          Log In , دخول
        </button>
      </div>
      <div class="register">
        <h4>Do Not Have an Account? , ليس لدي حساب <br> <a routerLink="../register">Register , تسجيل</a></h4>
      </div>
    </form>
  </div>
</div>



{{errorMsg}}