<div class="top">
  <div class="d-flex">
    <h4>Qr Code</h4>
    <div class="breadcrumb_sec">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-tachometer-alt" style="font-size: 16px !important;margin-right: 0px;color: #000;"></i> <a href="#" style="color:#000;">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page" style="margin-top: 3px;">Qr Code</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="content">
  <div *ngIf="myAngularxQrCode" class="col-md-3">
    <qrcode [qrdata]="myAngularxQrCode" [size]="256"></qrcode>
  </div>
  <div class="pt-5 text-center"><h4>You QR Code</h4></div>
  <!-- <div class="container-btn col-md-12">
    <button
      (click)="generatePK()"
      type="submit"
      class="btn-demo btn-info btn-hero"
      hero=""
      nbbutton=""
      tabindex="0"
    >
      Generate Key
    </button>
  </div> -->
</div>
