.main-content{
    background: #fff;
}

.content .sections{
    border: 1px solid #888;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sec {
    position: relative;
    border-bottom: 1px solid #888;
}

.content .form-group label{
    line-height : 50xp;
    margin-bottom: 0;
    margin-top: 15px
}

.content .form-group .form-control{
    border-radius: .5rem;

}

.sec input{
    background: transparent;
    border: 0;
}

.content .edit_btn,
.content .changw_btn{
    -webkit-appearance : none;
    background: none;
    padding : 0;
    margin-top: 15px;

    border: 0;
    color:#000;
    cursor: pointer;
}

.content form .buttons a.cancel_btn{
    padding: 5px 30px;
    border: 1px solid #01458d;
    margin-right: 10px;
color: #01458d;
    border-radius: 20px;
    background: transparent;
    text-decoration: none;
}

.content form .buttons .save_btn{
    padding: 5px 30px;
    border: 1px solid transparent;
    margin-right: 10px;
    border-radius: 20px;
    background: #01458d;
    color:#fff;
}

