// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";
@import "~@nebular/bootstrap/styles/globals";
@import '~ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-toastr/toastr-bs4-alert';

// ...

// global app font size
@import "./font-size";

// loading progress bar theme
@import "./pace.theme";

// install the framework and custom global styles
@include nb-install() {
    // framework global styles
    @include nb-theme-global();
    @include nb-auth-global();
    @include nb-bootstrap-global();

    // loading progress bar
    @include ngx-pace-theme();
}
button.btn-large.btn-submit:hover {
  cursor: pointer!important;
}
.btn-large.btn-submit:after {
position: absolute;
opacity: 0;
transition: all 0.8s
}


button.btn-large.btn-submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.form_section .form-control{
  color:#fff
}
@media only screen and (max-width: 768px) {
  .section-content[_ngcontent-c1] {
      background: #f1f5f8;
      padding: 0px 0px!important;
  }
  }
.fas {
    font-size: 1.7rem !important;
    width: 2.5rem;
    margin: 0 0.25rem 0;
    text-align: center;
    color: #a1a1e5;
}

.nb-theme-cosmic nb-sidebar.menu-sidebar nb-menu>.menu-items>.menu-item:first-child .menu-title::after {
    content :none !important;
}

.nb-theme-cosmic {
    justify-content: flex-end;
}
.nb-theme-corporate .menu-item .menu-icon {

    font-size: 1.5rem !important;
}
.fixed,
.nb-theme-corporate nb-layout .layout nb-layout-header nav {
    background: #01458d !important;
  }

  .nb-theme-corporate nb-layout .layout nb-layout-header nav{
    border-bottom:1px solid #fff;
}

.nb-theme-corporate nb-actions.medium nb-action i.control-icon {
    font-size: 1.5rem !important;
}
.input-group.has-person-icon::before {
    font-size: 2rem;
    position: absolute;
    z-index: 100;
    left: 1rem;
    top: .25rem;

}
.input-group.has-person-icon.user-pk::before{
  content: '\F47D';
    font-family: Ionicons;
}
.input-group.has-person-icon.amount::before{
  content: '\f51e';
  font-family: "Font Awesome 5 Brands","Font Awesome 5 Free";
}
.input-group.has-person-icon.password::before{
  content: '\f13e';
  font-family: "Font Awesome 5 Brands","Font Awesome 5 Free";
}

.input-group.has-person-icon .form-control {
        font-size: 1rem;
        padding: .75rem 3rem;
    color: #ccc;
    font-family: Roboto;
    border-radius: .5rem;
}

.add-image {
  background: url(../../../assets/images/addImage.svg);
  width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.defaultCountry[_ngcontent-c11] {
  background: url(../../../assets/images/299790.svg) no-repeat !important;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.nb-theme-corporate .input-group-addon,
.nb-theme-corporate .form-control,
.dropbtn[_ngcontent-c11]{
    background-color: transparent;
}

.dropbtn[_ngcontent-c11]{
    background: transparent;
    height: 42px !important;
    border-radius: 0 !important;
}

.country-name[_ngcontent-c11] {
  margin-left: 6px;
  font-size: 14px;
}

.defaultCountry[_ngcontent-c11] {
  background: url(../../../assets/images/299790.svg) no-repeat !important;
  display: inline-block;
  width: 25px;
  height: 25px;
}
button.dropbtn.btn {
  border-radius: 0px!important;
}
.dropdown[_ngcontent-c5] {
  position: relative;
  display: grid!important;
}
span.country-name {
  font-size: 15px;
  font-family: -webkit-pictograph;
}
.dropdown{
  position: relative;
  display: inline-block;
  border-radius : 0;
  height: 42px;
}

.nb-theme-corporate nb-sidebar.menu-sidebar nb-menu > .menu-items > .menu-item:first-child .menu-title::after{
  content : none !important;
}


.nb-theme-corporate .input-group-addon:focus, .nb-theme-corporate .form-control:focus{
  background: transparent;
}

.toast-success{
  background: #28a745;
  color: #fff;
}

.toast-error{
  background: #dc3545;
  color: #fff;
}
.nb-theme-corporate nb-sidebar .main-container {
  height: 100vh;
  width: 16rem;
  background: #222d32;
  
}
.nb-theme-corporate nb-menu {
  font-family: Exo;
  font-size: 1rem;
  font-weight: 500;
  background: #222d32;
  color: #4b4b4b;
}
.nb-theme-corporate nb-menu .menu-items > .menu-item {
    border-bottom: 0px ;//solid #cdd5dc;
    //padding: 12px 5px 12px 15px;
    //display: block;
}
.nb-theme-corporate nb-menu .menu-item a{
  color: #b8c7ce;
}
.nb-theme-corporate nb-menu .menu-item a:hover,.nb-theme-corporate nb-menu .menu-item a:active{
  color: #fff;
  background: #1e282c
}
.nb-theme-corporate nb-menu .menu-item a:hover .menu-icon, .nb-theme-corporate nb-menu .menu-item a:hover .chevron, .nb-theme-corporate nb-menu .menu-item a.active .menu-icon, .nb-theme-corporate nb-menu .menu-item a.active .chevron {
  color: #fff;
}
.nb-theme-corporate nb-menu .menu-item > .menu-items {

  background: #222d32;

}
.nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item{
  background: #222d32;
  border: 0px;
}
.nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item a{
  border: 0px;
}
.nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item a:hover {
  color: #fff;
  //background: transparent;
  background: #222d32;
}

.nb-theme-corporate nb-layout .layout nb-layout-header nav {
  border-bottom: none;
  box-shadow: none;
}

.nb-theme-corporate nb-sidebar{
  box-shadow : none;
}

.nb-theme-corporate .btn.btn-secondary {
  background: transparent;
  color: #fff;
  -webkit-appearance: none;
    margin-top: -10px;
}

.nb-theme-corporate .btn.btn-secondary h4{
  color: #fff;
  font-size: 16px;
  font-style: normal;
  text-transform: none;}

  .nb-theme-corporate .btn.btn-secondary h4 img{
    margin-right: 5px;
  }

.nb-theme-corporate .dropdown:not(.btn-group) .dropdown-toggle::after, .nb-theme-corporate .dropup:not(.btn-group) .dropdown-toggle::after{
  content: none;
}

.nb-theme-corporate .btn.btn-secondary:hover, .nb-theme-corporate .btn.btn-secondary.hover{
  background: transparent
}


.nb-theme-corporate .btn.btn-secondary:active, .nb-theme-corporate .btn.btn-secondary.active, .nb-theme-corporate .btn.btn-secondary:active:focus{
  background: transparent
}

.nb-theme-corporate .btn.btn-secondary:focus, .nb-theme-corporate .btn.btn-secondary.focus{
  border-color:transparent;
}

.nb-theme-corporate .btn.btn-secondary:focus, .nb-theme-corporate .btn.btn-secondary.focus, .nb-theme-corporate .btn.btn-secondary:hover, .nb-theme-corporate .btn.btn-secondary.hover, .nb-theme-corporate .btn.btn-secondary:active, .nb-theme-corporate .btn.btn-secondary.active{
  color: rgb(165, 59, 59);
}

.nb-theme-corporate .dropdown.show .dropdown-menu.show, .nb-theme-corporate .dropup.show .dropdown-menu.show {
  right: auto !important;
  left: 0 !important;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu, .nb-theme-corporate .dropdown .btn-outline-secondary + .dropdown-menu, .nb-theme-corporate .dropup .btn-secondary + .dropdown-menu, .nb-theme-corporate .dropup .btn-outline-secondary + .dropdown-menu{
  background: #fff;
  padding : 0;
  min-width: 400px;
  border: 1px solid #eee;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .details{
  background: #01458d !important;
  padding : 20px;
  text-align: center;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .details img{
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2);
  border-radius: 50%;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .details h4{
  z-index: 5;
  color: #fff;
  color: rgba(255,255,255,0.8);
  font-size: 17px;
  margin-top: 10px;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .stats{
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .stats h5{
  text-align: center;
  font-size:14px;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .stat{
  margin: 0 auto;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .stats span{
  color: #01458d;
  text-align: center;
  /* margin: auto; */
  margin-bottom: 0;
  font-weight: bold;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .buttons{
  padding: 10px 15px;
  background-color: #f9f9f9;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .buttons .button a button,
.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .buttons button{
  background-color: #f4f4f4;
  border-color: #ddd;
  color: #666666;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  border-width: 1px;
  padding: 6px 12px;
  font-size: 14px;
  cursor : pointer;
}

.nb-theme-corporate .dropdown .btn-secondary + .dropdown-menu .buttons button.logout{
  float: right;
    text-align: right;
    right: 10px;
    position: absolute;
}

.clearfix{
  clear: both;
}

.nb-theme-corporate nb-sidebar.menu-sidebar .main-container{
  border:none !important;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 500px;
    margin: 12.75rem auto;
}
}

.nb-theme-corporate nb-layout .layout nb-layout-header.fixed ~ .layout-container > nb-sidebar > .main-container {
padding-top:20px;
}
@media (min-width: 1200px) {
.nb-theme-corporate .header-container .navigation{
  display: none;
}
}

.nb-theme-corporate ngx-layout-direction-switcher{
display: none;
}

.form_section .form-control {
  color: #000;
}

.nb-theme-corporate nb-alert.status{
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 12px;
}

.nb-theme-corporate .btn:not(:disabled):not(.disabled){
  border-top-left-radius: 20px !important;
  height: 42px;
  border-bottom-left-radius: 20px !important;
}

[dir=ltr] .nb-theme-corporate .input-group .form-control:first-child:not(:only-child), [dir=ltr] .nb-theme-corporate .input-group .input-group-addon:first-child, [dir=ltr] .nb-theme-corporate .input-group .input-group-prepend .btn:first-child, [dir=ltr] .nb-theme-corporate .input-group .input-group-btn .btn:first-child{
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

[dir=ltr] .nb-theme-corporate .input-group .form-control:last-child:not(:only-child), [dir=ltr] .nb-theme-corporate .input-group .input-group-addon:last-child, [dir=ltr] .nb-theme-corporate .input-group .input-group-append .btn:last-child, [dir=ltr] .nb-theme-corporate .input-group .input-group-btn .btn:last-child{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

}

.content .form-group .form-control{
  border-radius: 20px !important;
}

@media(max-width:786px){
  .login-box-body,
  .reg-box-body{
    width: 90% !important;
  }
}

@media(max-width:1024px){
  .login-box-body,
  .reg-box-body{
    width: 55%;
  }
}

