<div class="form_section">

  <div class="title_sec">
    <img src = "../../../assets/images/inolog2.png">
    <p class="sub-title">Hello! Log in with your email and password.</p>
  </div>
  
  <div class="login-box-body">
    <form #userLoginForm="ngForm" (ngSubmit)="onSubmit(emailAdd.value,password.value)">
      <div class="form-group">
        <!-- <label>Email</label> -->
        <div class="input">
        <input type="email" class="form-control" placeholder="Email ,البريد الالكتروني" name="emailAdd" #emailAdd="ngModel" [(ngModel)]="userDetails.emailAdd"
          required email title="enter user@example.com &#013;1أدخل عنوان بريدالكتروني">
          <span class="astric">*</span>
          </div>
        <nb-alert status="danger" *ngIf="emailAdd.invalid && emailAdd.touched">
          <div class="alert-custom emailAdd.errors?.email">Enter a valid Email &#013;  ادخل بريد الكتروني صالح </div>
        </nb-alert>
      </div>

      <div class="form-group">
          <div class="input">
        <input type="password" class="form-control" placeholder="Password,كلمة السر" [(ngModel)]="userDetails.password"
          name="password" #password="ngModel" required id="pass_log_id" title="Password">
          <span toggle="#password-field" class="eva eva-eye field_icon toggle-password"></span>
          <span class="astric">*</span>
          </div>
        
      </div>
     
      <div class="text-center">
        <button class="btn-large btn-submit" type="submit">
          Log In,دخول
        </button>
      </div>
      <div class="register">
        <h4>Don't  have an account?,ليس لدي حساب  <a routerLink = "../register">تسجيل</a></h4>
      </div>
    </form>
  </div>
</div>



{{errorMsg}}
