.content{
    background: #fff;
    padding: 20px;
}

.content .title h4{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content .title span{
    background: #01458d;
    width : 50px;
    margin-bottom: 40px;
    height: 3px;
    display: inline-block;
}

.content p{
    
    font-size: 15px;
    line-height: 28px;
}