<div class="content">
  <div class="title text-center">
    <h4>Privacy Policy</h4>
<span class="line"></span>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="description">
        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
      <p>but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/privacy-code.jpg" style="width:100%;" class="img">
    </div>
  </div>
  
  </div>
