<div class="header">
    
    <div class="logo text-center" style="margin:auto;">
<h4>Ino Wallet</h4>
    </div>
    <!-- <div class="logo text-center" style="margin:auto;">
        <h4>{{userData.Balance}}</h4>
            </div> -->
</div>

