<div class="form_section" style="padding:0 !important;">

  <div class="title_sec">
    <img src = "../../../assets/images/logo1.png" style="width: 300px;">
    <p class="sub-title">Hello! Register with your email.</p>
  </div>
  <div class="reg-box-body">
    <form #userRegistrationForm="ngForm">

      <div class="form-group">
        <div class="input">
          <label>Username , اسم المستخدم</label> <span class="astric">*</span>
          <input type="text" class="form-control" name="name" [(ngModel)]="userDetails.name" #name="ngModel"
            placeholder="Username , اسم المستخدم" required pattern="^[a-z0-9_]{9,29}$" minlength="9" maxlength="29" title="Username should only contain lowercase letters . e.g. Jhon &#013;يجب ان يحتوي اسم المستخدم علي حروف صغيرة . مثال عماد  ">
            <span class="tooltip-danger">


                <button type="button" style="border: 0;padding: 0;background: transparent;"
                  class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
                  ngbTooltip="Username should only contain lowercase letters . e.g. Jhon &#013;يجب ان يحتوي اسم المستخدم علي حروف صغيرة . مثال عماد  ">
                  <span class="question_mark">
                    <i class="fa fa-question w3-animate-fading"></i>
    
                  </span> </button>
              </span>
        </div>
       
        <nb-alert class="custom-alert" class="custom-alert" status="danger"
          *ngIf="name.touched && name.invalid && name.errors.minlength">
          <div>Name characters must be greater than 8 letters &#013; طول الاسم اكبر من 8 احرف</div>
        </nb-alert>
        <nb-alert class="custom-alert" status="danger" *ngIf="name.touched && name.invalid && name.errors.maxlength">
          <div>Name characters must be less than 30 letters&#013; طول الاسم اقل من 30 حرفا</div>
        </nb-alert>
        <nb-alert class="custom-alert" status="danger" *ngIf="name.touched && name.errors?.pattern">
          <div>Name is invalid &#013; الاسم غير مناسب</div>
        </nb-alert>
        <!-- <div *ngIf="name.errors.pattern" class="alert alert-danger">name must not include special character</div> -->
      </div>
      <div class="form-group">
          <div class="input">
            <label>Email , البريد الالكتروني</label> <span class="astric">*</span>
        <input type="email" class="form-control" email name="emailAdd" required placeholder="Email , البريد الالكتروني" #emailAdd="ngModel"
          [(ngModel)]="userDetails.emailAdd" title="enter user@example.com &#013; البريد الالكتروني ">
          <span class="tooltip-danger">


              <button type="button" style="border: 0;padding: 0;background: transparent;"
                class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
                ngbTooltip="enter user@example.com &#013; البريد الالكتروني ">
                <span class="question_mark">
                  <i class="fa fa-question w3-animate-fading"></i>
  
                </span> </button>
            </span>
</div>
        <nb-alert status="danger" *ngIf="emailAdd.invalid && emailAdd.touched">
          <div class="emailAdd.errors?.email">Enter a valid Email  &#013;  أدخل بريد الكتروني صالح  </div>
        </nb-alert>
      </div>
      <div class="form-group">
        <div class="input">
          <label>Phone number , رقم الهاتف</label> <span class="astric">*</span>

        <int-phone-prefix type="phone"  class="form-control phone_input"
        
          [(ngModel)]="userDetails.phone" name="phone" #phone="ngModel" ngModel pattern="^[0-9-+]+$"
          style="border:0;padding:0;background: #fff;border-radius: 20px;color:#495057;" ></int-phone-prefix>
          <span class="tooltip-danger">


              <button type="button" style="border: 0;padding: 0;background: transparent;"
                class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
                ngbTooltip="+1 -202-555-0120">
                <span class="question_mark">
                  <i class="fa fa-question w3-animate-fading"></i>
  
                </span> </button>
            </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input">
          <label>Address , محل الاقامة</label>
        <input type="text" placeholder="Address , محل الاقامة" class="form-control" [(ngModel)]="userDetails.address"
          name="address" #address="ngModel" ngModel minlength="5" maxlength="100" title="Address characters must be greater than 5 and less than 100 characters&#013; 100 طول العنوان اكبر من 5 أحرف وأقل من">
          <span class="tooltip-danger">


              <button type="button" style="border: 0;padding: 0;background: transparent;"
                class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
                ngbTooltip="Address characters must be greater than 5 and less than 100 characters&#013; 100 طول العنوان اكبر من 5 أحرف وأقل من">
                <span class="question_mark">
                  <i class="fa fa-question w3-animate-fading"></i>
  
                </span> </button>
            </span>  
        </div>
        <nb-alert class="custom-alert" status="danger" *ngIf="address.invalid && address.touched">
          <div *ngIf="address.errors.minlength">Address characters must be greater than 5 </div>
          <div *ngIf="address.errors.maxlength">Address characters must be less than 100 characters</div>
        </nb-alert>
      </div>

      <div class="form-group">
        <div class="input">
          <label>Password , كلمة السر</label> <span class="astric">*</span>
        <input type="password" class="form-control" placeholder="Password , كلمة السر" [(ngModel)]="userDetails.password"
          name="password" pattern="^[a-z0-9_]{9,29}$" #password="ngModel" required minlength="9" maxlength="30" id="pass_log_id"  title="Your password must be at least 8 characters (numbers , letters and symbols ) &#013; كلمة السر يجب ان تكون علي الأقل 8 عناصر (أحرف و أرقام و رموز )">
          <span toggle="#password-field" class="eva eva-eye field_icon toggle-password"></span>
          <span class="tooltip-danger">


              <button type="button" style="border: 0;padding: 0;background: transparent;"
                class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
                ngbTooltip="Your password must be at least 8 characters (numbers , letters and symbols ) &#013; كلمة السر يجب ان تكون علي الأقل 8 عناصر (أحرف و أرقام و رموز )">
                <span class="question_mark">
                  <i class="fa fa-question w3-animate-fading"></i>
  
                </span> </button>
            </span> 
        </div>
        <nb-alert class="custom-alert" status="danger" *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors.minlength">Your password must be at least 8 characters (numbers , letters and symbols )&#013;كلمة السر يجب ان تكون علي الأقل 8 عناصر (أحرف و أرقام و رموز )</div>
          <div *ngIf="password.errors.maxlength">Password must be at least 30 characters&#013;كلمة السر يجب ان تكون علي الأكثر 30 عنصرا (أحرف و أرقام و رموز )</div>
        </nb-alert>
      </div>

      <div class="form-group">
        <div class="input">
          <label>Confirn Password , أكد كلمة السر</label> <span class="astric">*</span>
        <input type="password" class="form-control" placeholder="Confirm Password , أكد كلمة السر"
          [(ngModel)]="userDetails.confirmNew_password" name="confirmNew_password" #confirmNew_password="ngModel"
          required id="pass_log_id2" title="Password must match &#013;يجب تطابق كلمتي السر">
          <span toggle="#password-field" class="eva eva-eye field_icon toggle-password2"></span>
          <span class="tooltip-danger">


              <button type="button" style="border: 0;padding: 0;background: transparent;"
                class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
                ngbTooltip="Password must match &#013;يجب تطابق كلمتي السر">
                <span class="question_mark">
                  <i class="fa fa-question w3-animate-fading"></i>
  
                </span> </button>
            </span> 
          </div>
        <nb-alert class="custom-alert" status="danger"
          *ngIf="confirmNew_password.touched && confirmNew_password.invalid">
          <div *ngIf="confirmNew_password.errors.required">Password mismatch &#013; كلمة السر غير متطابقة</div>
        </nb-alert>
        <nb-alert class="custom-alert" status="danger"
          *ngIf="(confirmNew_password.value != password.value)&& confirmNew_password.touched">
          Password mismatch &#013; كلمة السر غير متطابقة
        </nb-alert>
      </div>

      <!-- <div class="form-group">
      <input type="text" [(ngModel)]="user.authentication_value" name="authentication_value"
        #authentication_value="ngModel" class="form-control" placeholder="this authentication value">
    </div> -->
      <div class="text-center">
        <button class="btn-large btn-submit" type="submit" (click)="OnSubmit(userRegistrationForm)">Register , التسجيل</button>
      </div>
      <div class="register">
        <h4>Already Have an Account? , لديك حساب؟ <br> <a routerLink="../login" style="margin-top: 10px;">Login , دخول</a>
        </h4>
      </div>
    </form>
  </div>
</div>